{% extends 'base.html.twig' %}

{% block title %}Hello BezoekerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Sportcenter
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/category">sportapparaat</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">inloggen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/register">registreren</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# content #}
    <div class="container">
<header>
    <div class="header-row row lead" >
        <h1 class="display-2">Health<span class="text-danger">One</span></h1>
    </div>
</header>
<figure>
    <img class="banner-img img-fluid" src='https://raw.githubusercontent.com/ROCMondriaanTIN/if-ao-anytime-student/master/public/img/healthone-wide.png' />
</figure>
<h4>Sportcenter Anytime Fitness</h4>
            Fit en gezond zijn is geen vanzelfsprekendheid. We moeten er zelf wat voor doen. Goede, gezonde voeding is hiervoor de basis.
            Bewegen hoort hier ook bij. Regelmatig bewegen zorgt voor een goede doorbloeding en draagt bij aan ontspanning van lichaam en geest.
            Sporten is goed voor sterkere spieren en voor de conditie. Sporcenter HealthOne heeft verschillende sportapparaten om mee te kunnen werken aan je conditie.
            <hr>
            </div>
            <footer >
    <p class="clearfix pb-3  text-muted text-center">&copy;Afdeling software development Tinwerf 10, 2544 ED Den Haag.</p>
</footer>
{% endblock %}
